html, body{
font-family: '微软雅黑', sans-serif;
 font-size: 100%;
 background: #FFf;
}

body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover,h5.inner.two a:hover{
 text-decoration:none;
 color:#f26649;
}
h1,h2,h3,h4,h5,h6{
   margin:0;		
    font-family: 'Montserrat-Regular';
   font-weight:700;

}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
.logo  a{
	display:block;
}
.logo  a h1{
      color: #fff;
    font-size: 2em;
    font-family: '微软雅黑', sans-serif;
    font-weight: 700;
    text-align: center;
}
.logo  a h1:hover{
 text-decoration:none;
}
.logo  a h1 span{
 color:#a5cd39;
}

.top-menu ul {
    margin-top: 9em;
}
.top-nav.gallery-sec{
		float: left;
		background-color: #f26649;
		width: 15%;
		    padding: 2em 1em 12em 1em;
	}
.top-menu ul li {
    display:block;
    color: #fff;
    vertical-align: top;
       text-align: center;
    margin-bottom:2em;
}
.top-menu ul li a{
    color: #fff;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1em 1em;
    background: none;
    background-color:#f26649;
}
/* Effect 16: fall down */
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.cl-effect-16 a::before {
	color:#ffcc00;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cl-effect-16 a:hover::before{
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 0;
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
.top-menu ul li a{
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    padding:0;
    background: none;
    background-color:#f26649;
}
.top-menu ul li a:hover,.top-menu ul li a.active{
	color:#ffcc00;
}

/*--start-home--*/
.main {
	float: right;
    width: 85%;
    padding: 0;
}
.banner-section{
    width: 67%;
    float: left;
	    padding: 2em 1em 1.5em 1em;
		border-right: 1px solid #ddd;
}

/*--gallery--*/
.gallery-section {
    padding: 2em 1em 1em 2em;
    text-align: center;
}
.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 0px;
	text-align: left;
	position: relative;
	
}
.grid figure {
	margin: 0;
	position: relative;
}
.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: rgba(66, 31, 84, 0.8);
    color: #fff;
}
.grid figcaption span:before {
	content: ' ';
}
.grid figcaption a {
	   text-align: center;
	   padding: 9px 21px;
	   font-size:1em;
	  display: inline-block;
      background: #F26649;
	  color: #fff;
	  text-decoration:none;
}
.grid figcaption a:hover {
	background-color:#DA3917;
}
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}
.cs-style-1 figcaption h3 {
      font-size: 2em;
    color: #fff;
    margin: 1em 0 0.5em 0;
}

.cs-style-1 figcaption span {
	font-size: 0.9em;
	display: block;
}
.cs-style-1 figcaption a {
	margin-top:1.3em;
}
/* Caption Style 1 */
.categorie-grids {
	margin-top:1em;
}
.cate-grid{	
	    background-size: 100%;
    margin: 0 10px;
    width: 28%;
    padding: 0;
	    margin-bottom: 3em;
}
.cate-grid h4 {
	color: #e21737;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 13px;
} 
.cate-grid p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
}
h3.tittle {
    font-size: 2em;
    color: #f26649;
  text-align:left;
  margin-bottom:0.8em;
  font-family: '微软雅黑', sans-serif;
}